.cardCart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #242323;
  width: 300px;
  margin: 15px;
  border-radius: 10px;
  border: solid 0.5px #BA9C53;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.prodName {
  font-family: 'Cinzel', serif;
  color: #BA9C53;
}

.btnCardCart {
  font-family: 'Cinzel', serif;
  background-color: #BA9C53;
  color: #242323;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  margin: 25px 5px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-decoration: none;
}

.btnCardCart:hover {
  background-color: #879492;
  color: #FFFFF0;
  box-shadow: 0px 8px 15px rgba(255, 255, 240, 0.1);
  transform: translateY(-3px);
}

.btnCardCart:active {
  transform: translateY(0);
  box-shadow: none;
  color: #BA9C53;
  background-color: #7c8583;
  transition: all 0.2s ease 0s;
}
